* {
 	margin:0px auto;
}

.solution_box {
	display: none;
}

#finish_box {
	width: 1000px;
	height: 400px;
	background: purple;
	display: none;
}


html, body{
	text-align:center;
	display: block;
	background-color: #F1F1D4;
	width: 100%;
	height: 100%;
}


#q1_box {
	margin:0px auto;
	height: auto;
}

.quiz_box {
	background: AliceBlue;
	z-index: 1;
	/*background-color: #66CCFF;*/
	display:none;
}

.answer_box {
	width: 75%;
	z-index: 1;
	display:none;
	background: Gold;
	padding: 50px;
}

/*
.quiz {
  background-color : yellow;
  height: 10px;
  z-index: 1;
  padding: 50px red;
}
*/

.answer {
  height: 2em;
  z-index: 1;
	padding: 50px red;
	margin: 10;
}

li {
	padding: 10px;
	list-style-type: none;
}

body {
	margin:0;
	padding:0;
}

#body {
	width:800px;
	margin: 0 auto;
}


