* {
 	margin:0px auto;
}
html, body{
	text-align:center;
	display: block;
	background-color: white;
	width: 100%;
	height: 100%;
	font-family: 'Esteban', sans-serif;
}
.question_p{
	max-width: 800px;
	margin: 100;
}

#mainheader {
	text-align: center;
	max-width: 800px;
	font-size: 65px;
}
#subheader {
	text-align: left;
	max-width: 800px;
	font-size: 40px;
	position: relative;
	top:60px;
}
#subtext {
	position: relative;
	top: 75px;
}
#intro {
	text-align: left;
	max-width: 800px;
	font-size: 30px;
}
#head {
	text-align: left;
	max-width: 800px;
	font-size: 30px;
	position: relative;
	top: 90px;
}
.solution_box {
	max-width: 800px;
	display: none;
}
#q1_box {
	margin:0px auto;
	height: auto;
}
.quiz_box {
	padding: 100 100 100 100;
	background: #3B90DD;
	z-index: 1;
	display:none;
	text-align: left;
	font-size: 30px;
	position: relative;
	top: 120px;
}
#q1_question {
	position: relative;
	top: 10px;
}
.answer_box {
	text-align:center;
	z-index: 1;
	display:none;
	background: Gold;
	padding: 50px;
	position: relative;
	top: 120px;
}
.quiz_answer {
  height: 2em;
  z-index: 1;
	padding: 50px red;
	margin: 10;
}
li {
	max-width: 800px;
	padding: 10px;
	list-style-type: none;
}
body {
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#body {
	width:800px;
	margin: 0 auto;
}

#finish_box { /*this shit aint working right */
	top : 10000px;
	width: 1000px;
	height: 500px;
	background: purple;
	display: none;
	text-align:center;
}

.see_answer {
	z-index: 500;
	text-align:center;
}
